.carousel {
  overflow: hidden;
}

body {
  font-family: 'Quicksand', sans-serif;
   background-color: #f5f7fa;  
}

section {
  position: relative;
  overflow: hidden; 
}

.navbar {
  background-color: #1A531B !important;

}

.nav-link,
.navbar-brand {
  color: #F8F5EC !important;
}

.nav-link:hover,
.navbar-brand:hover {
  color: #D9D9D9 !important;
}

.h1 {


  text-transform: uppercase;

  font-weight: 900;
  
}



section{
  isolation: isolate;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #D9D9D9 !important;
  font-family: 'Montserrat', sans-serif;
}

.hero-adopce {
  background-image: url('../images/adopce-hero.jpg');
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  min-height: 400px;
}

.hero {
  background-image: url('../images/opicak.jpg');
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  min-height: 400px;
}

.card {
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}



.card-title {
  text-transform: uppercase;
  color: #3A5F0B !important;

}

.card1 {
  border-left: 8px solid #8B6E4E;
  border-radius: 2px;
  ;
}

.card-text {
  color: #3A5F0B;
}




.btn-dark-green {
  color: #F8F5EC;
  text-transform: uppercase;

   --bs-btn-color: #F8F5EC;
  --bs-btn-bg: #1A531B;
  --bs-btn-border-color: #1A531B;
  --bs-btn-hover-color: #F8F5EC;
  --bs-btn-hover-bg: #338935;

  --bs-btn-hover-border-color: #338935;
}

.carousel-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-picture {
  display: block;
  width: 100%;
  height:300px;            
  object-fit: cover;        
  object-position: center;  
  
}

.card-adopce{
  display: block;
  width: 100%;
  height:180px;            
  object-fit: cover;        
  object-position: center; 
 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
 
  
}

.card {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.h3-header{
  z-index:10;
}

.blob-card{
  position: relative;
  z-index: 1;
  z-index: auto; 
  
}

.pozice {
  position: absolute;
  top: -180px;   
  left: -200px;  
  width: 550px;  
  z-index: -1000;    
}

.pozice2{
  position: absolute;
  bottom: -160px; 
  right: -180px;  
  width: 550px;   
  z-index: -1;
   
}

.blobik {
  display: block;
  width: 100%;
  height: auto;
}

.popisek{
 font-size:1.2rem;
 color:#1A531B;
}

.green{
  color:#1A531B;
}

.brown{
  background-color:#1A531B;
  color:#f2f4f7
  
  
}

.brown:hover{
  background-color:#338935;
  color:#F8F5EC
}



.laila-section{
  
  background-color: #f2f4f7;
}

.vrhy-text{
  color:#338935;
}

.baner{
  width:120%;
}

.rezervace-button{
  background-color: #1A531B;
  color:#f2f4f7;
}

.rezervace-button:hover{
  background-color:#338935;
  color:#f2f4f7;
}

.pozice-sekce{
  position:relative;
  
}

.pozice{
  position:absolute;
 top:0;
  
}

.form-label{
  color:#1A531B;
  font-family: 'Montserrat', sans-serif;
  
}

.accordion-button{
  color:#1A531B;
  font-family: 'Montserrat', sans-serif;
}

.accordion-body{
  color:#1A531B;
  font-family: 'Montserrat', sans-serif;
}

 
 
      @media (min-width: 800px) {
        .babies-bg {
            background-image: url(../images/miminka-baner.png), url(../images/blobos.svg);
            background-repeat: no-repeat, no-repeat;
            background-position: right center, 80% 10%;
          }

          .adoptuj-bg {
            background-image:  url(../images/blobos.svg);
            background-repeat: no-repeat, no-repeat;
            background-position: right center,  20%;
          }
      }
          
    


@media (min-width: 1200px) {
 
  .baner{
     width: 140%;
  max-width: none;
  }

  .card-picture{
    height:400px;
  }

  .orangutan-header{
    font-size:2.5rem;
  }

  .card-adopce {
    height: 250px;
  }
}

h2 {
  color: #1A531B;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  color: #8B6E4E;
}

.orangutan-header{
  font-size:3.5rem;
}


