body {
  font-family: 'Quicksand', sans-serif;
}

.navbar {
  background-color: #1A531B !important;

}

.nav-link,
.navbar-brand {
  color: #F8F5EC !important;
}

.nav-link:hover,
.navbar-brand:hover {
  color: #D9D9D9 !important;
}

.h1 {


  text-transform: uppercase;

  font-weight: 900;
  
}





.header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #D9D9D9 !important;
  font-family: 'Montserrat', sans-serif;
}

.hero {
  background-image: url('../images/opicak.jpg');
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  min-height: 400px;
}

.card {
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}



.card-title {
  text-transform: uppercase;
  color: #3A5F0B !important;

}

.card1 {
  border-left: 8px solid #8B6E4E;
  border-radius: 2px;
  ;
}

.card-text {
  color: #3A5F0B;
}




.btn-dark-green {
  color: #F8F5EC;
  text-transform: uppercase;

   --bs-btn-color: #F8F5EC;
  --bs-btn-bg: #1A531B;
  --bs-btn-border-color: #1A531B;
  --bs-btn-hover-color: #F8F5EC;
  --bs-btn-hover-bg: #338935;

  --bs-btn-hover-border-color: #338935;
}

.carousel-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-picture {
  display: block;
  width: 100%;
  height:300px;            
  object-fit: cover;        
  object-position: center;  
  
}


@media (min-width: 1200px) {
  .carousel-item img {
    height: 400px;
   
  }

  .card-picture{
    height:400px;
  }
}

h2 {
  color: #1A531B;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  color: #8B6E4E;
}

